body{
    background-color: rgb(237, 151, 151);
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-align: center;
    color: white;

}

.gif1{
    width: 100%px;
    height: auto;
    position: relative;

}

.clickme{

    color: white;
    text-align: center;
}