body{
    background-color: rgb(237, 151, 151);
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: white;
    transform: translateY(600px);
}

.gif1{
    width: 300px;
    height: auto;
    position: relative;
    transform: translateY(600px) translateX(200px);
}

.clickme{
    transform: translateY(350px);
    color: white;
    text-align: center;
}